# Домашняя работа №1 по дисциплине 
# 'Библиотеки Python для Data Science: продолжение'

Выполнил: Евгений Кириллов

## Урок 1. Введение в задачу классификации. Постановка задачи и подготовка данных.

### Задание 1

Приведите по 2 примера, когда лучше максимизировать Precision, а когда Recall.

#### Precision

*Precision* - точность отражает какой процент объектов, отнесённых к "основному" классу, действительно являются таковыми.


*Precision* = TP/(TP + FP)


Соответственно, максимизация *Precision*, что является уменьшением параметра False Positive, имеет смысл, когда лучше не включить спорный объект в "основной" класс, чем ошибиться, когда цена ошибки велика.

__Примеры с Precision:__

- Вынесение заключения "годен" (для полёта, эксплуатации...) космонавту, лётчику, самолёту, космическому аппарату, АЭС...

- Вынесение приговора подозреваемому в совершении преступления (когда-нибудь в будущем).

- Идентификация цели боевым дроном

- Проведение банковской операции с существенной суммой

- Подбор персонала на ответственные должности

#### Recall

*Recall* - полнота отражает какой процент объектов "основного" класса было обнаружено алгоритмом.


*Recall* = TP/(TP + FN)


Соответственно, максимизация *Recall*, что является уменьшением параметра False Negative, имеет смысл, когда лучше включить спорный объект в "основной" класс, чем не включить, когда цена ошибки мала или ничтожна.

__Примеры с Recall:__

- Рассылка приглашений для участия в массовом мероприятии, чтобы те, кто потенциально могут прийти - по максимуму пришли, а тем, кто так и так не придут - не надоедать, а то отпишутся от рассылок.

- Регистрация радиосигналов из космоса автоматической системой (всякие научные программы), когда лучше лишний раз обратить внимание человека/оператора на событие, чем упустить что-то важное. В то же время отфильтровывать 100% стандартные/несущественные события, чтобы не перенагружать оператора.

- Анализ руды на процент содержания полезного вещества, когда стоимость экстракции данного вещества несоизмерима мала в сравнении с потенциальной стоимостью вещества.

### Задание 2

Почему мы используем F-меру, почему, например, нельзя просто взять среднее от Precision и Recall?

__F-мера__

F-мера = (1 + b) * (precision * recall) / (b * precision + recall)

__частным случаем F-меры является F1__

F1 = 2 * (precision * recall) / (precision + recall)

напишем формулу меры, которая берёт среднее от Precision и Recall:
    
precision_recall_mean = (precision + recall) / 2

### Проведём эксперимент!

#### Напишем функцию, которая будет считать основные метрики поступающего в неё датафрэйма, который, в свою очередь, будет иммитацией результатов классификации

In [1]:
import pandas as pd

In [2]:
def f1_and_precision_recall_mean_comparison_experiment(df):
    TP = df[(df['target_values'] == 1) & (df['predicted_values'] == 1)].count()[0]
    FP = df[(df['target_values'] == 0) & (df['predicted_values'] == 1)].count()[0]
    TN = df[(df['target_values'] == 0) & (df['predicted_values'] == 0)].count()[0]
    FN = df[(df['target_values'] == 1) & (df['predicted_values'] == 0)].count()[0]
    
    precision = TP / (TP + FP)
    recall = TP/(TP + FN)
    
    F1 = 2 * (precision * recall) / (precision + recall)
    
    precision_recall_mean = (precision + recall) / 2
    
    print(f'TP: {TP}')
    print(f'FP: {FP}')
    print(f'TN: {TN}')
    print(f'FN: {FN}\n')
    print(f'precision: {precision}')
    print(f'recall: {recall}\n')
    print(f'F1: {F1}')
    print(f'precision_recall_mean: {precision_recall_mean}')

#### создадим датафрэйм имитирующий результаты 'нормальной' модели классификации

In [3]:
df_normal = pd.DataFrame(
    {'target_values':[1, 1, 1, 1, 1, 0, 0, 0, 0, 0], 
     'predicted_values':[1, 1, 1, 1, 0, 1, 0, 0, 0, 1]})
df_normal

   target_values  predicted_values
0              1                 1
1              1                 1
2              1                 1
3              1                 1
4              1                 0
5              0                 1
6              0                 0
7              0                 0
8              0                 0
9              0                 1

In [4]:
f1_and_precision_recall_mean_comparison_experiment(df_normal)

TP: 4
FP: 2
TN: 3
FN: 1

precision: 0.6666666666666666
recall: 0.8

F1: 0.7272727272727272
precision_recall_mean: 0.7333333333333334

как видно: значения F1 и precision_recall_mean примерно одинаково и адекватно оценили эффективность классифицации

#### Теперь создадим датафрэйм имитирующий результаты 'неадекватной' модели классификации, где правильно классифицирован только один из десяти объектов, причём будет сильный дисбаланс классов в сторону 1.

In [5]:
df_not_normal_1 = pd.DataFrame(
    {'target_values':[1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 
     'predicted_values':[0, 0, 0, 0, 0, 0, 0, 0, 0, 1]})
df_not_normal_1

   target_values  predicted_values
0              1                 0
1              1                 0
2              1                 0
3              1                 0
4              1                 0
5              1                 0
6              1                 0
7              1                 0
8              1                 0
9              1                 1

In [6]:
f1_and_precision_recall_mean_comparison_experiment(df_not_normal_1)

TP: 1
FP: 0
TN: 0
FN: 9

precision: 1.0
recall: 0.1

F1: 0.18181818181818182
precision_recall_mean: 0.55

как видно: значения F1 и precision_recall_mean разошлись в оценках эффективности классифицации, при этом precision_recall_mean выдаёт явно неадекватную завышенную оценку модели из-за precision == 1

#### Теперь создадим датафрэйм имитирующий результаты 'неадекватной' модели классификации, где правильно классифицирован только один из десяти объектов, причём будет сильный дисбаланс классов в сторону 0.

In [7]:
df_not_normal_3 = pd.DataFrame(
    {'target_values':[0, 0, 0, 0, 0, 0, 0, 0, 0, 1], 
     'predicted_values':[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]})
df_not_normal_3

   target_values  predicted_values
0              0                 1
1              0                 1
2              0                 1
3              0                 1
4              0                 1
5              0                 1
6              0                 1
7              0                 1
8              0                 1
9              1                 1

In [8]:
f1_and_precision_recall_mean_comparison_experiment(df_not_normal_3)

TP: 1
FP: 9
TN: 0
FN: 0

precision: 0.1
recall: 1.0

F1: 0.18181818181818182
precision_recall_mean: 0.55

как видно: значения F1 и precision_recall_mean опять разошлись в оценках эффективности классифицации, при этом precision_recall_mean выдаёт явно неадекватную завышенную оценку модели теперь из-за recall == 1

#### Теперь создадим датафрэйм имитирующий результаты 'неадекватной' модели классификации, где правильно классифицирован только один из десяти объектов, причём классы будут сбалансированы.

In [9]:
df_not_normal_3 = pd.DataFrame(
    {'target_values':[1, 1, 1, 1, 1, 0, 0, 0, 0, 0], 
     'predicted_values':[1, 0, 0, 0, 0, 1, 1, 1, 1, 1]})
df_not_normal_3

   target_values  predicted_values
0              1                 1
1              1                 0
2              1                 0
3              1                 0
4              1                 0
5              0                 1
6              0                 1
7              0                 1
8              0                 1
9              0                 1

In [10]:
f1_and_precision_recall_mean_comparison_experiment(df_not_normal_3)

TP: 1
FP: 5
TN: 0
FN: 4

precision: 0.16666666666666666
recall: 0.2

F1: 0.1818181818181818
precision_recall_mean: 0.18333333333333335

как видно: значения F1 и precision_recall_mean примерно одинаково и адекватно оценили эффективность классифицации

### Ответ:

### F-мера используется для оценки классификации, т.к. она устойчива к  дисбалансам классов